<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            Wasmcaster
        </h1>
        <p class="lead">
            Browser based version of <a href="https://github.com/christopher-bimson/Forecaster">Forecaster</a>.
        </p>
        <p>
            For people who don't like the command line. Renders a graphical representation of the forecast.
            <br/>
            Powered by <a href="https://webassembly.org/">Web Assembly</a> created with
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> and
            <a href="https://fsbolero.io/">Bolero</a>.
        </p>
        <p>
            <a class="btn btn-secondary btn-sm" href="https://is.gd/3F5dnf" target="_blank" role="button">
                Report a Bug
            </a>
        </p>
    </div>
</div>
<div class="page">
    <div class="main">
        <div class="content px-4">
            ${Chart}
            ${Form}
        </div>
    </div>
</div>